body {
    background-image: url('back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
font-weight: bold;
font-style: italic;
}


#message {
    text-align: center;
}


#btn {
    height: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#rock, #paper, #scissors, #retry {
    border: none;
    color: rgb(190, 0, 0);
    background-color: rgb(195, 124, 9);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#rock:hover, #paper:hover, #scissors:hover, #retry:hover {
    background-color: rgb(212, 144, 43);
}

#main {
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.gameResult, .EndGame {
    font-weight: bolder;
    font-style: italic;
}

.Outcome {
    border-style:solid;
    border-radius: 25% 10%;
    background-color: brown;
    font-weight: bolder;
    font-size: x-large;

}

